[includeIf "gitdir:~/Developer/projects/"]
    path = ~/.git-personal.conf
[includeIf "gitdir:~/Developer/projects_timwe/"]
    path = ~/.git-work.conf

[core]
excludesfile = ~/.gitignore      # valid everywhere
